TWI_Slave.eep
TWI_Slave.elf
TWI_Slave.hex
TWI_Slave.lst
TWI_Slave.map
TWI_Slave.o
TWI_Slave.sym
usb_rawhid.lst
usb_rawhid.o
Makefile
build
CNC.xcodeproj
Info.plist
applet
PkgInfo
main.scpt
applet.icns
applet.rsrc
TXT.rtf
TWI_Slave.o.d
TWI_Slave.lss
Hallo.sh
AVR_Tem.c
teensy_loader_cli
teensy_loader_cli.c
Teensy_Loader.scpt
runavarice.sh
README.md